*{margin: 0%;
padding: 0%;}

body {
    font-family: serif;
    background-color: rgba(201, 198, 198, 0.938);
}

h1,h2,h3{
    font-family: sans-serif;
}

header{ 
    color: rgb(0, 119, 255);
    text-align: center;
    padding: 1%;
    background-color: white;
    width: 100%;
    
    
}
#container{
   margin:0 auto;
   width: 50%;
    
}
article{
    margin-top: 5%;
    background-color: white;
}

article,p{
    margin-bottom: auto;
    padding: 2%;
    
}

.post-head{
    margin-bottom: auto;
    padding: 2%;
    border-bottom: solid black 1px;
}
footer{
    text-align: center;
}
small{
    margin-top: 0%;
    color: aqua;
}
.post-body{
    padding-bottom: 2%;
    border-bottom: solid black 1px;
}

h2{
    margin: 0px;
}
